* {
    box-sizing: border-box;
}

.header {
    background-color: #F8F7EF;
    height: 140px;
    display: flex;
    justify-content: center;
}

.header-bar{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
}

.header-bar li {
    flex-direction: row;
    margin-left: 30px;
    color: #6EA034;
    font-weight: 200;
}